.feedback-box {
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: .5rem;
    padding: 2rem;
    cursor: pointer;
}

.feedback-description {
    font-family: Montserrat;
    font-size: 1.5rem;
    color: gray;
}

