.side-navigation-item {
    font-family: Montserrat;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem .5rem 1rem .5rem;
    margin: .5rem 0 .5rem 0;
    cursor: pointer;
}

