
.welcome-section-name {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
}

.welcome-section-logout {
    font-family: Montserrat;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0;
}

