
.cart-items-header {
    font-family: Montserrat;
}

.cart-items-hr {
    height: .2rem;
    background-color: gray;
}

.cart-items-box {
    display: flex;
    justify-content: space-between;
}

.cart-items-total-box {
    display: flex;
    justify-content: space-between;
}

.cart-items-total {
    font-family: Montserrat;
    font-size: 2rem;
    color: gray;
    margin: .5rem 0 .5rem 0;
}

.cart-items-total-amount {
    font-family: Montserrat;
    font-size: 2rem;
    margin: .5rem 0 .5rem 0;
}

