.review-heading {
    font-family: Montserrat;
}

.review-name {
    margin-bottom: 0;
    font-family: Montserrat;
    font-weight: 700;
}

.review-name-edit-delete-box {
    display: flex;
    justify-content: space-between;
}

.review-edit-delete-box {
    display: flex;
    align-items: flex-end;
    color: gray;
}

.review-edit-box {
    margin-right: .5rem;
    cursor: pointer;
}

.review-delete-box {
    cursor: pointer;
}

.review-description {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Montserrat;
}

.like-box {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    margin-top: 1rem;
}

.review-like-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.review-likes-count {
    margin: 0 0 0 1rem;
}

.review-likers-name {
    margin: 0 0 0 1rem;
}

