.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item-box {
    display: flex;
}

.nav-brand {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-item {
    font-family: Montserrat;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

